<div class="edit">
  <form action="/memos/<%= @memo['id'] %>" accept-charset="UTF-8" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="items">
      <div class="item">
        <pre class="error_message"><%= @error_message %></pre>
      </div>
      <div class="item">
        <label class="form-label">Title</label>
        <input type="text" name="title" value="<%= ERB::Util.html_escape(@memo['title']) %>">
      </div>
      <div class="item">
        <label class="form-label">Description</label>
        <textarea name="description"><%= ERB::Util.html_escape(@memo['description']) %></textarea>
      </div>
    </div>
    <div class="button">
      <input type="submit" value="変更">
    </div>
  </form>
</div>
