<div class="show">
  <div class="items">
    <div class="memo">
      <div class="item">
        <h2><%= ERB::Util.html_escape(@memo['title']) %></h2>
      </div>
      <div class="item">
        <pre><%= ERB::Util.html_escape(@memo['description']) %></pre>
      </div>
    </div>
    <div class="button">
      <a class="button-link" href="/memos/<%= @memo['id'] %>/edit">変更</a>
      <a class="button-link" href="/memos/<%= @memo['id'] %>/delete">削除</a>
    </div>
  </div>
</div>
